body{
    padding: 0;
    margin: 0;   
}

.content{
    padding:20px
}

.input-field{
    width: 45%;
    display: inline-block;
    margin: 10px;
    margin-left: 0;
}

.form{
    margin-top: 30px;
}
.th{
    display: inline;
    margin: auto;
}